<section class="footer-section">   
    <footer>
   <div class="footer-content">
       <div>
           <img class="logo-footer" src="../image/logo/logo.png" alt="Logo">
       </div>
   
       <div class="footer-section">
           <p class="description-footer">Ne mândrim cu tradiția noastră în arta tunsului și a bărbieritului. Echipa noastră de profesioniști pasionați îți oferă nu doar un tuns impecabil, ci și o experiență relaxantă și revigorantă. Descoperă servicii de calitate superioară și atmosfera prietenoasă</p>
       </div>
   
       <div class="container-contact">
           <div class="aspect-contact">
               <div class="icon" id="email">
                   <a href="mailto:exemplu@gmail.com">
                       <i class="fas fa-envelope"></i>
                       <h3 class="contact-name">E-mail</h3>
                       <p class="contact-decoration">exemplu@gmail.com</p>
                   </a>
               </div>
               
               <div class="icon" id="phone">
                   <a href="tel:0123456789">
                       <i class="fas fa-phone-alt"></i>
                       <h3 class="contact-name">Telefon</h3>
                       <p class="contact-decoration">0123456789</p>
                   </a>
               </div>
           </div>
           
           <div class="aspect-contact location">
               <div class="icon" id="location">
                   <a href="https://www.google.com/maps/search/?api=1&query=Oradea,Strada Menumorut nr. 24" target="_blank">
                       <i class="fas fa-map-marker-alt"></i>
                       <h3 class="contact-name">Locație</h3>
                       <p class="contact-decoration">Oradea, Strada Menumorut nr. 24</p>
                   </a>
               </div>
           
           
           <div class="icon program" id="schedule">
               <i class="far fa-clock"></i>
               <h3 class="contact-name">Orar</h3>
               <ul class="schedule-list">
                   <li><strong>Luni - Vineri:</strong> 10:00 - 22:00</li>
                   <li><strong>Sâmbătă:</strong> 12:00 - 22:00</li>
                   <li><strong>Duminică:</strong> Inchis</li>
               </ul>
           </div>
       </div>
           </div>
       </div>
   </div>
   <div class="footer-bottom">
       <div class="copyright">
           &copy; 2024 Numele Companiei. Toate drepturile rezervate.
       </div>
       <div class="social-media">
           <ul>
               <li class="facebook">
                   <a href="#">
                       <i class="fab fa-facebook-f"></i>
                   </a>
               </li>
               <li class="instagram">
                   <a href="#">
                       <i class="fab fa-instagram"></i>
                   </a>
               </li>
               <li class="google">
                   <a href="#">
                       <i class="fab fa-google"></i>
                   </a>
               </li>
               <li class="whatsapp">
                   <a href="#">
                       <i class="fab fa-whatsapp"></i>
                   </a>
               </li>
           </ul>
       </div>
   </div>
</footer>