<section class="header-section">
  <div class="container">
    <!-- Meniurile -->
    <div class="navigation">
      <div class="menu">
        <!-- Meniul din stânga -->
        <ul class="left-menu">
          <li class="menu-list">
            <a href="#">Servicii</a>
            <ul class="scissors-list">
              <li class="scissors-item">
                <svg
                  id="scissors-svg"
                  width="120px"
                  height="auto"
                  viewBox="0 0 168 84"
                >
                  <use
                    xlink:href="/src/images/icon.svg#left-scissor"
                    x="24"
                    y="0"
                  ></use>
                  <use
                    xlink:href="/src/images/icon.svg#right-scissor"
                    x="24"
                    y="0"
                  ></use>
                </svg>
              </li>
            </ul>
          </li>
          <li class="menu-list"><a href="#">Echipa</a></li>
          <ul class="scissors-list"></ul>
        </ul>

        <!-- Meniul din dreapta -->
        <ul class="right-menu">
          <li class="menu-list"><a href="#">Poveste</a></li>
          <li class="menu-list"><a href="#">Contact</a></li>
        </ul>
      </div>
      <!-- Logo -->
      <div class="logo">
        <a href="#">
          <img src="/src/images/logo.png" alt="Barber Dani" />
        </a>
      </div>
    </div>
  </div>
</section>
