body {
}

a {
}

.container {
    position: relative;
  position: relative;
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
}

.logo {
}

.logo img {
}

.menu {
}

.left-menu,
.right-menu {
}

.left-menu {
}

.right-menu {
}

.left-menu li,
.right-menu li {
}

.backround-image {
}

.backround-slogan {
}

.backround-slogan1 {
}

.street {
}

.phone {
}

/* icon Scisoors */
.scissors-item {
}

.scissors-list {
}

/* animatie de deschidere */
/* animatie de inchidere */
.scissors-item {
}

}
.left-scissors:hover {
}
/* final icon scissors */

